<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css"/>  
    <script
    src="https://kit.fontawesome.com/ba830c81f9.js"
    crossorigin="anonymous"
  ></script>
    <title>Amor escrito</title>
</head>
<body>
    <header>
        <section class="header_conteiner">
            <h1 class="title_love">❤️Amor Escrito❤️</h1>
            <p class="subtitle_conteiner">Loremghjjhhhhhhhhhghjghjhgjjghjghj ipsum dolor sit amet consectetur adipisicing elit. Cupiditate sint.</p>
            <section class="link_conteiner_page">
            <a class="link_page" href=""><li>Inicio</li></a>
            <a class="link_page" href=""><li>Cartas</li></a>
            <a class="link_page" href=""><li>Reglas</li></a>
            <a class="link_page" href=""><li>Opciones</li> </a>
            </section>
        </section>
    </header>
    <main>
        <section class="featured_love_letters">
            <h2 class="subtitle_main">
               <u>Cartas Destacadas💌</u>
            </h2>
            <div class="conteiner_letter">
                <div class="feactured_letter"> 
                    <div class="img_letter">
                        <img class="img_letter" src="../img/love_letter.jpg" alt="love" width="100%">
                    </div>
                    <div class="description_letter">
                        <p class="letter_p_main">ujsdjasdasdjklngfkjjk ff fjd kgjkfjdgfsffdsfdsffdsfdsfsdfsdfsdfsdfdfdsfja</p>
                    </div>
                </div>
                <div class="feactured_letter"> 
                    <div class="img_letter">
                        <img class="img_letter" src="../img/love_caption.jpg" alt="love" width="100%">
                    </div>
                    <div class="description_letter">
                        <p class="letter_p_main">ujsdjasdasdjklngfkjjk ghvghhghgghvv v ghgh g hvgff fjd kgjkfjdgfsffdsfdsffdsfdsfsdfsdfsdfsdfdfdsfja</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>

    </footer>
    <script src="../js/home.js"></script>
</body>
</html>