<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/styleHome.css"/>  
        <script
        src="https://kit.fontawesome.com/ba830c81f9.js"
        crossorigin="anonymous"
      ></script>
        <title>Amor escrito</title>
    </head>
<body>
  <header class="header_main">
    <div class="header_conteiner">
       <div class="img_header"> 
            <img class="logo_love" src="../img/amor_Escrito.png" alt="" width="400px">
        </div>
        <div class="eslogan_header">
            <h2 class="eslogan_main">esloganesloganeslogan</h2>
        </div>
    </div>
</header>
<main class="main_home">
  <section class="enlace_main main_second">
    <ul class="ul_li_enlace">
        <div class="bottom_enlace"><li class="li_nlace"><a class="link_main" href="../index.html">INICIO</a></li></div>
        <div class="bottom_enlace"><li class="li_nlace"><a class="link_main" href="cartas.html">CARTAS</a></li></div>
        <div class="bottom_enlace"><li class="li_nlace"><a class="link_main" href="contacto.html">CONTACTO</a></li></div>
        <div class="bottom_enlace" id="numero_2_enlace"><li class="li_nlace"><a class="link_main" href="reglas.html">REGLAS</a></li></div>
    </ul>
</section>
<section class="main_conteiner conteiner_section">
  <div class="div_conteiner_main">
    <h2 class="parrafo_subtitle">DINAMICA</h2>
    <br>
    <p class="parrafo_conteiner">1. Escribí tu carta y dejala en el buzón.</p>
    <p class="parrafo_conteiner">2. Recorda poner el nombre de tu persona especial y su curso</p>
    <p class="parrafo_conteiner">3. Puede ser anonimo o si te animas deja tu nombre</p>
    <p class="parrafo_conteiner">4. Nosotros nos encargamos de publicarla. Buena suerte</p>
  </div>
  <div class="div_conteiner_main">
    <h2 class="parrafo_subtitle">REGLAS</h2>
    <br>
    <p class="parrafo_conteiner">· Escribí con letra legíble</p>
    <p class="parrafo_conteiner">· Cartas escritas en puño y letra</p>
    <p class="parrafo_conteiner">· Para una carta mas presentable, pagar 100$</p>
    <p class="parrafo_conteiner">· No se admiten palabras groseras,vulgares u obscenas</p>
    <p class="parrafo_conteiner">· Las cartas dentro del cofre ya no se devuelven al autor</p>
    <p class="parrafo_conteiner">· No olvidar colocar destinatario, curso y dvision, para su entrega</p>
  </div>
</section>
</main>
</body>
</html>